<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Fã ou Hater Music</title>
</head>
<body>
    <nav id="navbar">
        <h2><a id="nav-titulo" href="/">Fã ou Hater Music</a></h2>
        <ul>
            <li><a href="/reviews/add">Cadastrar Review</a></li>
        </ul>
    </nav>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>