* {
  font-family: Helvetica, sans-serif;
  color: #5e5e5e;
  margin: 0;
  padding: 0;
}

body {
  background-color: #10151E !important;
}

h1 {
  text-align: center;
  margin-bottom: 1em;
  color: #BEBEBE;
}

#navbar {
  padding: 1em 2em;
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1C2840;
  color: #BEBEBE;
}

#navbar ul {
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin-left: 5px;
}

#navbar ul li a, #nav-titulo {
  text-decoration: none;
  color: #BEBEBE;
}

.container {
  max-width: 1100px !important;
  margin: 2em auto;
  /* display: flex; */
  padding: 15px;
}

.container-perfil {
  display: flex;
  padding: 15px;
}

.perfil-usuario {
  width: 40%;
  margin-right: 10px;
}

.perfil-nome {
  margin-bottom: 0px;
}

.perfil-login {
  /* margin-left: 15px; */
  margin-bottom: 20px;
}

.perfil-info {
  display: grid;
}

.container form {
  margin-top: 1.5em;
  padding: 20px;
} 

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}

.form-control input,
.form-control textarea {
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #1C2840;
  color: #10151E;
  background-color: #ccc;
  font-size: medium;
  margin-top: 5px;
}

#txt-area-review {
  resize: none;
  height: 250px;
}

.txt-area-comentario {
  resize: none;
  height: 45px; 
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #5e5e5e;
  outline: none;
}

.drop-menu {
  margin-top: 0px !important;
  padding: 5px !important; 
}

.btn-carregar-comentarios {
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: smaller;
}

.btn-carregar-comentarios:hover {
  color: #3B568B;
}

form input[type='submit'] {
  background-color: #3B568B;
  color: #fff;
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card-review {
  width: 100%;
  border-radius: 5px 5px 5px 5px !important;
}

.card-comentarios {
  display: block;
  padding: 15px 15px 15px 15px;
  background-color: #c8c8c8;
  width: 100%;
  margin-top: -3px;
  border-radius: 0px 0px 5px 5px;
}

.add-comentario {
  display: 
  flex;
}

.add-comentario-desabilitado{
  visibility: hidden;
}

.review-m {
  margin-bottom: 10px;
}

.footer-review {
  margin-top: 5px;
  font-size: smaller;
  display: flex;
  justify-content: space-between;
}

.titulo-artista{
  margin-bottom: 10px;
  color: gray;
}

.titulo-musica{
  color: #3B568B;
  margin-bottom: 0;
}

.card-content {
  padding: 25px 25px 10px 25px;
}

.t-musica-artista {
  width: 100%;
}

.titulo {
  display: block;
  justify-content: space-between;
  margin-bottom: 30px;
}

.span-data-review{
  font-size: smaller;
  /* color: #BEBEBE; */
  color: grey;
}

.card-login {
  /* max-width: 350px; */
  width: 50%;
}

#form-login {
    padding: 20px;
}

.txt-login {
    /* width: 100%; */
    height: 28px;
    background-color: #ccc;
    color:#10151E;
    font-size: medium;
}

.btn-login {
    width: 100%;
    height: 40px;
    font-size: medium;
    margin-bottom: 10px;
}

.btn:hover {
  background-color: #3B568B8A !important;
  position: none;
}

.btn-padrao-h:hover {
  background-color: #dadada;
  border-radius: 30px;
}

.btn-opcoes{
  background-color: transparent;
  border:none;
}

.icone-opcoes{
  color: grey; 
}

.opcoes{
  padding: 3px;
}

#link-nova-conta{
  font-size: small;
  width: 100%;
  text-align: center;
}

.container-login {
  display: flex;
  justify-content: center;
}

.conteudo-review {
  background-color: #e3e3e3;
  /* margin: 10px; */
  padding: 10px;
  border-radius: 5px;
}

.card-padrao {
  background-color: #f1f1f1;
  border-radius: 5px;
}

.info-review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.btn-like-dlike {
  background: transparent;
  border: none;
  color: #BEBEBE;
  padding: 3px;
  border-radius: 5px;
}

.reviews-usuario {
  width: 100%;
}

.span-reacao {
  margin-right: 10px;
  color: #3B568B;
}

.texto-padrao {
  color: #5e5e5e;
}

.btn-reacao {
  background-color: transparent;
  border: none;
}

.desabilitado {
  color: #3B568B59 !important;
}

.span-msg-invalido {
  color: #ff3434;
  font-size: smaller;
}

.form-control-bsp {
  margin-bottom: 10px;
}

.form-control-invalido {
  border-color: #ff3434;
  border-radius: 5px; 
}

.txt-padrao-bsp {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  width: 100%;
  padding: 8px;
  font-size: medium;
  color: #10151E;
}

#nav-cont-direita {
  display: ruby;
}

#msg-login-invalido {
  text-align: center;
  background-color: #ff6464;
  padding: 2px;
  border-radius: 5px; 
  border: 3px solid #912626;
}

.i-azul {
  color:#3B568B;
}

.card-comentario {
  border: 1px solid gray;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 3px;
}

.h-card-comentario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.comentario-data {
  font-size: small;
}

.comentario-usuario {
  font-weight: bold;
  color: #1C2840;
}

.btn-comentar {
  padding: 5px;
  background-color: transparent;
  border: none;
  margin-left: 8px;
}

.comentario-conteudo {
  display: flex;
  justify-content: space-between;
}