<h1>Cadastro de Review</h1>

<form action="/reviews/add" method="post">
    <div class="form-control">
        <span for="artista">Artista:</span>
        <input type="text" name="artista" placeholder="Nome da banda ou artista...">
    </div>
        <div class="form-control">
        <span for="musica">Música:</span>
        <input type="text" name="musica" placeholder="Nome da música...">
    </div>
        <div class="form-control">
        <span for="titulo">Review:</span>
        <textarea type="text" name="review" placeholder="Escreva aqui o seu review sobre a música"></textarea>
    </div>
    <input type="submit" value="Cadastrar">
</form>