
<div class="container">
    <div class="card-padrao">
        <h1>Cadastro de Review</h1>
        <form id="form-review" action="/reviews/add" method="post">
            <input type="hidden" name="usuario" value={{usuarioAutenticado.userId}}>

            <div class="input-group">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Música" id="musica" name="musica" required>
                    <label>Música</label>
                </div>      
            </div>

            <div class="input-group">
                <div class="form-floating">
                    <input type="text" class="form-control" placeholder="Artista" id="artista" name="artista" required>
                    <label>Artista</label>
                </div>      
            </div>

            <div class="input-group">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Review" id="txt-area-review" name="review" required></textarea>
                    <label>Review</label>
                </div>      
            </div>
            <input class="btn" type="submit" value="Enviar review">
        </form>
    </div>
</div>