
<div class="container container-form">
    <form id="form-usuario" class="card-padrao" action="/usuario/add" method="post">    
        <h1>Crie sua conta</h1>       
        {{!-- class="form-floating is-invalid" --}}
        <div class="input-group has-validation">
            <div class="form-floating" id="div-campo-nome">
                <input type="text" class="ipt-cadastro-usuario form-control" placeholder="Username" id="nome" name="nome">
                <label>Nome</label>
            </div>
            <span class="invalid-feedback" id="msg-nome"></span>
        </div>
        
        <div class="input-group has-validation">
            <div class="form-floating {{#if validacao.validacaoEmail}} is-invalid{{/if}}" id="div-campo-email">
                <input type="text" class="ipt-cadastro-usuario form-control {{#if validacao.validacaoEmail}} is-invalid{{/if}}" placeholder="Username" id="email" name="email">
                <label>E-mail</label>
            </div>
            <span class="invalid-feedback" id="msg-email">{{#if validacao.validacaoEmail}}{{validacao.validacaoEmail}}{{/if}}</span>         
        </div>

        <div class="input-group has-validation">
            <div class="form-floating{{#if validacao.validacaoUsuario}} is-invalid{{/if}}" id="div-campo-login">
                <input type="text" class="ipt-cadastro-usuario form-control{{#if validacao.validacaoUsuario}} is-invalid{{/if}}" placeholder="Username" id="login" name="login">
                <label>Usuário</label>
            </div>
            <span class="invalid-feedback" id="msg-login">{{#if validacao.validacaoUsuario}}{{validacao.validacaoUsuario}}{{/if}}</span>
        </div>

        {{!-- <div class="input-group has-validation" style="margin-bottom: 5px;">
            <div class="form-floating" id="div-campo-senha">
                <input style="margin-bottom: 0px;" type="password" class="ipt-cadastro-usuario form-control" placeholder="Senha" id="senha" name="senha">
                <label>Senha</label>
            </div>
            <span class="invalid-feedback" id="msg-senha"></span>
        </div> --}}

        {{!-- <div class="input-group has-validation" style="margin-bottom: 5px;">
            <div class="form-floating" id="div-campo-senha-confirmacao">
                <input type="password" class="ipt-cadastro-usuario form-control" placeholder="Confirmar Senha" id="senha-confirmacao" >
                <label>Confirmar Senha</label>
            </div>
            <span class="invalid-feedback" id="msg-senha-confirmacao"></span>
        </div> --}}

        <div class="div-senha" style="margin-bottom: 5px;" >
           <div class="input-group has-validation">
                <div class="form-floating" id="div-campo-senha">
                    <input data-campo-senha="1" style="margin-bottom: 0px;" type="password" class="txt-senha-borda ipt-cadastro-usuario form-control" placeholder="Senha" id="senha" name="senha">
                    <label>Senha</label>
                </div>
                <span class="invalid-feedback" id="msg-senha"></span>
            </div>
            <button data-id="btn-visualizar-senha" type="button" id="1" class="btn-olho-senha"><i class="bi bi-eye fs-2"></i></button>
        </div>

        <div class="input-group has-validation" style="margin-bottom: 5px;">
            <div class="form-floating" id="div-campo-senha-confirmacao">
                <input type="password" class="ipt-cadastro-usuario form-control" placeholder="Confirmar Senha" id="senha-confirmacao" >
                <label>Confirmar Senha</label>
            </div>
            <span class="invalid-feedback" id="msg-senha-confirmacao"></span>
        </div>

        <input class="btn btn-submit" type="submit" value="Cadastrar">
    </form>
</div>