<h1>Cadastro do Usuário</h1>

<div class="card-padrao">
    <form action="/usuario/add" method="post">
        <div class="form-control-bsp">
            <span for="nome">Nome e Sobrenome</span>
            <input class="txt-padrao-bsp" type="text" name="nome" placeholder="José José José">
        </div>
        <div class="form-control-bsp">
            <span for="email">E-mail</span>
            <input class="txt-padrao-bsp" type="email" name="email" placeholder="jose@jose.jose">
        </div>
        <div class="form-control-bsp">
            <span for="login">Login</span>
            <input class="txt-padrao-bsp" type="text" name="login" placeholder="jose123 / joseddsilva1234">
        </div>
        <div class="form-control-bsp">
            <span for="senha">Senha</span>
            <input class="txt-padrao-bsp" type="password" name="senha" placeholder="senha aqui">
        </div>
        <input class="btn" type="submit" value="Cadastrar">
    </form>
</div>